<ion-header>
	<ion-navbar>
		<ion-title>Histórico de Reembolso</ion-title>
		<ion-spinner [hidden]="!isFetching" class="nav-spinner"></ion-spinner>
	</ion-navbar>
</ion-header>


<ion-content padding>
	<ion-list no-lines>
		<ion-item *ngFor="let refund of refunds">
			<ion-card>
				<img *ngIf="refund.checkingCopy" [src]="domSanitizer.bypassSecurityTrustUrl(refund.checkingCopy)"/>
				<ion-card-content>
					<ion-card-title>
						{{refund.costCenter.name}} - {{refund.costCenter.code}}
					</ion-card-title>
					<p>
						Data da despesa: {{refund.expenseDate | date}}<br>
						Status: {{refund.status}}<br>
						Valor Total: {{refund.totalPrice === '' ? 0 : refund.totalPrice  | currency:'BRL':true:'1.2-2'}}<br>
					</p>
				</ion-card-content>
			</ion-card>
		</ion-item>
	</ion-list>
</ion-content>
